.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 500px;
  button {
    height: 7vh;
    &:hover {
      background-color: rgba(0, 174, 255, 0.363);

    }
  }
  .calculator-num-keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    padding: 2px;
  }
  .calculator-sign-keys {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
    padding: 2px;
    button {
    &:hover {
      background-color: rgba(212, 0, 255, 0.37);
      }
    }
  }
}
